.form{
    align-items: center;
    padding:20px;
}

.input{
    margin-left: 65px;
}

.label{
    margin-left: 340px;
}
.input2{
    margin-left: 70px;
}

h2{
    margin-left: 80px;
}

.input3{
    margin-left: 80px;
}

.label1{
    margin-left:-95px;
}

.input4{
    margin-left: 40px;
}

.input5{
    margin-left: 20px;
}

